# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log

# Virtual environments
env/
venv/
ENV/
.venv/
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# dotenv
.env

# Config file with secrets
config.py

# Database and cache files
*.sqlite3
*.db
*.bak
*.tmp

# Jupyter
.ipynb_checkpoints/

# Others
*.swp
*.swo
